body {
	margin:0;
	padding:0;
}

a {text-decoration:none;}
/*a:link {color:blue;}
a:visited{color:blue;}
a:hover{color:#FFFFFF;}
a:active{color:#888888;}
*/

header {
	background-color:#000000;
	border-style:solid;
	clear:both;
	position:relative;
	margin:0;
}

nav {
	width:1280px;
	outline:0px;
	margin:0px;
	border-style:solid;
	border-color:black;
	background-color:gray;
	/*padding:0.5em 0;*/
	margin-left:150px;
	margin-right:150px;
	
}
a.navbar {
	float:left; /*Apparently you gotta float both a and ul in horizontal nav bars*/
	padding:0.5em 0.5em;
	display:inline;
	background-color:gray;
}
a.navbar:link {color:lightgray;}
a.navbar:visited{color:lightgray;}
a.navbar:active{color:lightblue;}


a.navbar:hover {
	color:lightblue;
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg); 
	transition-duration:1s;
}

aside {
	position:relative;
	float:right;
	width:120px;
	outline:0px;
	margin:0px;
	border:0px;
	padding:0px;
	background-color:#303030;
}


section {
	width:1280px;
	border-style:solid;
	border-color:black;
	margin:0;
	padding:0;
	margin-left:150px;
	margin-right:150px;
	background-color:lightgray;
}

section.tab {
	display:none;
}

section#home_tab {
	display:block;
}

footer {
	position:relative;
}
footer p{
	font-size:8pt;
}


h1,h2,h3 {color:#000000;}
h1#banner {color:#FFFFFF;}

p {font-family:Verdana;font-size:11pt;color:#000000;}

ul {
	list-style-type:none;
}

ul.links {
padding:0;
margin:0;
}

ul.navbar {
	float:left; /*Apparently you gotta float both ul and a to the left for horizontal nav bars */
	padding:0;	
	margin:0;
	width:100%;
	list-style-type:none;
}

li.navbar{
	display:inline;
}

